<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_num">Divide this:</label>
  <input type="text" id="first_num" name="first_num">

  <label for="second_num">by this:</label>
  <input type="text" id="second_num" name="second_num">

  <button>Divide!</button>
</form>
