<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_num">Add</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_num">to:</label>
  <input type="text" id="second_num" name="second_num">

  <button>Add!</button>
</form>
