<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_num">Multiply this:</label>
  <input type="text" id="first_num" name="first_num">

  <label for="second_num">by this:</label>
  <input type="text" id="second_num" name="second_num">

  <button>Multiply!</button>
</form>
